@use "global" as *;

.support__cards {
    margin-top: prem(40);
    padding-left: prem(20);
    padding-right:prem(20);
    @include mq(md) {
        max-width: prem(1050);
        margin-left: auto;
        margin-right: auto;
        margin-top: prem(50);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: prem(100);
        row-gap: prem(50);
    }
}

.support__card:nth-child(n+2) {
    margin-top: prem(30);
    @include mq(md) {
        margin-top: initial;
    }
}